<h2 class="text-2xl font-medieval text-gold uppercase tracking-widest mb-8 text-center">
  Erreur {{code}}
</h2>
<div class="max-w-lg mx-auto">
  <div class="bg-parchment rounded border border-gold-dark shadow-lg p-8 text-center">
    <p class="text-stone-mid font-medieval text-center">
      {{message}}
    </p>

    <a routerLink="/home"
       class="mt-6 inline-block bg-blood hover:bg-blood-light text-parchment px-6 py-2 rounded border border-gold-dark transition-colors font-medieval uppercase tracking-wide text-sm">
      Retour à l'accueil
    </a>
  </div>
</div>
