<div class="max-w-lg mx-auto">
  <div class="mb-6">
    <h2>Connexion</h2>
  </div>
  <div class="bg-parchment rounded border border-gold-dark shadow-lg p-8" >

    <div class="mb-5">
      <label class="block text-stone-dark font-medieval uppercase tracking-wide text-sm mb-2">
        Identifiant
      </label>
      <input type="text"
             [(ngModel)]="dto.identifier"
             class="w-full bg-parchment border-b border-gold-dark focus:border-gold outline-none px-2 py-2 text-stone-dark font-medieval transition-colors" />
    </div>

    <div class="mb-5">
      <label class="block text-stone-dark font-medieval uppercase tracking-wide text-sm mb-2">
        Mot de passe
      </label>
      <input type="password"
             [(ngModel)]="dto.password"
             class="w-full bg-parchment border-b border-gold-dark focus:border-gold outline-none px-2 py-2 text-stone-dark font-medieval transition-colors" />
    </div>

    <div class="mb-8 flex items-center gap-2">
      <input type="checkbox" [(ngModel)]="dto.rememberMe" id="rememberMe" class="accent-blood" />
      <label for="rememberMe" class="text-stone-dark font-medieval text-sm">
        Se souvenir de moi
      </label>
    </div>

    @if (errorMessage) {
      <div class="mb-4 px-4 py-3 rounded border border-blood bg-blood/10 text-blood font-medieval text-sm">
        {{ errorMessage }}
      </div>
    }

    <div class="flex flex-col items-center gap-4">
      <div class="flex justify-center mb-2">
        <app-button variant="blood"
                    (click)="submit()">
        + Se connecter +</app-button>
      </div>
      <p class="text-center text-stone-mid font-medieval text-sm">
        Pas encore de compte ?
        <a routerLink="/register" class="text-gold-dark hover:text-gold transition-colors">
          S'inscrire
        </a>
      </p>
    </div>

  </div>
</div>
