<div class="max-w-4xl mx-auto">
  <div class="flex items-center justify-between mb-6">
    <h2>Utilisateurs</h2>
    <app-button variant="blood" (click)="onCreate()">
      + Créer un utilisateur +
    </app-button>
  </div>

  <div class="bg-parchment rounded border border-forest-dark shadow-md overflow-hidden">
    <table class="w-full">
      <thead class="font-medieval text-parchment text-xs tracking-wider uppercase bg-forest-dark border-b border-forest-dark">
      <tr>
        <th class="px-6 py-3 text-left">Pseudo</th>
        <th class="px-6 py-3 text-left">Email</th>
        <th class="px-6 py-3 text-right">Actions</th>
      </tr>
      </thead>
      <tbody class="divide-y divide-gold-dark/20">
        @for (user of users; track user.id) {
          <tr class="hover:bg-gold-dark/10 transition-colors">
            <td class="px-6 py-4 font-medieval font-medium text-stone-dark">
              <a [routerLink]="['/users', user.id]" class="hover:text-gold-dark transition-colors cursor-pointer">
                {{ user.pseudo }}
              </a>
            </td>
            <td class="px-6 py-4 text-stone-mid">{{ user.email }}</td>
            <td class="px-6 py-4 flex justify-end gap-2">
              <app-button variant="gold" (click)="onEdit(user.id)">
                Modifier
              </app-button>
              <app-button variant="blood"(click)="onDelete(user.id)">
                + Supprimer +
              </app-button>
            </td>
          </tr>
        }
      </tbody>
    </table>
  </div>
</div>
