<h2>{{ isEditMode ? 'Modifier' : 'Créer' }} un utilisateur</h2>

<div>
  <label>Pseudo</label>
  <input type="text"
         [ngModel]="isEditMode ? updateDTO.pseudo : createDTO.pseudo"
         (ngModelChange)="isEditMode? updateDTO.pseudo = $event : createDTO.pseudo = $event" />
</div>

<div>
  <label>Email</label>
  <input type="email"
         [ngModel]="isEditMode ? updateDTO.email : createDTO.email"
         (ngModelChange)="isEditMode? updateDTO.email = $event : createDTO.email = $event" />
</div>

@if (!isEditMode) {
  <div>
    <label>Mot de passe</label>
    <input type="password" [ngModel]="createDTO.password" />
  </div>
}

<button (click)="submit()">
  {{ isEditMode ? 'Modifier' : 'Créer' }}
</button>

<button (click)="cancel()">
  Annuler
</button>
