/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

.bg-desk {
  background-image: url('../public/img/bg-desk.webp');
  background-size: cover;
  background-position: center top;
}

@font-face {
  font-family: 'EnchantedLand';
  src: url('../public/fonts/Enchanted Land.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

h2 {
  @apply text-4xl font-enchanted text-white tracking-widest;
}
